{% extends 'scolar/index.html' %}
{% load django_tables2 crispy_forms_tags icons bootstrap4 %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
<html lang="en" xmlns="http://www.w3.org/1999/html">
 <!-- Required meta tags -->
 <meta charset="utf-8">
 {% block content %}
 {% load djmoney %}

 <form id="demoForm" method="post"  action = "" class="post-form" enctype="multipart/form-data">
 {% csrf_token %}
	<div class="content-wrapper">
		<div class="row">
			<div class="col-md-12 grid-margin stretch-card" >
				<div class="card">
					<div class="card-body" >
						<h3>Suivi des achats par régits </h3>
						<br>
						<p class="lead font-italic">Allocation des crédits</p>
						<hr class="my-4">
						<table class="table table-borderless">
							<thead class="border-bottom font-weight-bold">
							<tr>
								<th name="chapitre">Code_chapitre</th>
								<th name="article">Code_Article</th>
								<th>Libelle_Article_FR</th>
								<th>Libelle_Article_AR</th>
								<th>Crédit</th>
								<th>Allocation_crédit</th>
							</tr>
							</thead>
							<tbody>
							{% for art in article %}
							<tr style="border: 1px solid black; padding: 0px; border-radius: 0px;">
								<td style="border: 1px solid black; padding: 0px; border-radius: 0px;">{{art.chapitre.code_chap}}</td>
								<td style="border: 1px solid black; padding: 0px; border-radius: 0px;">{{art.code_art}}</td>
								<td style="border: 1px solid black; padding: 0px; border-radius: 0px;">{{art.libelle_art_FR}}</td>
								<td style="border: 1px solid black; padding: 0px; border-radius: 0px;">{{art.libelle_art_AR}}</td>
								<td style="border: 1px solid black; padding: 0px; border-radius: 0px;">
									{% for crd in crdt %}
									{% if crd.article == art %}
									{{crd.credit_allouee}}
									{% else %}
									{% endif %}
									{% endfor %}
								</td>
								<td style="border: 1px solid black; padding: 0px; border-radius: 0px;">
									<a style="padding-left:30px;" href="{% url 'CreditAssociate' art.id %}" class="d-inline" > <i class="fa fa-file-alt fa-lg"></i> </a>
									{% for crd in crdt %}
									{% if crd.article == art %}
									<a style="padding-left:30px;" href="{% url 'CreditDelete' art.id %}" class="d-inline" > <i class="fa fa-trash-alt fa-lg "></i> </a>
									{% else %}
									{% endif %}
									{% endfor %}
								</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
 </form>
<form id="demoForm2" method="POST"  action = "" class="post-form" enctype="multipart/form-data">
 {% csrf_token %}
	 <a href="{% url 'aa_pdf' %}" download target="_blank" class="btn btn-secondary btn-block">
		 <i class="fas fa-print"></i>  Imprimer l'avance</a>
	 </div>
 </form>
</html>
{% endblock %}