{% extends 'scolar/index.html' %}
{% load icons dictionary bootstrap4 crispy_forms_tags %}
{% block content %}

<script>
		function update_moy(matricule){
				var moy=0.0;
				{% for eval_ in liste_evaluations %}
					moy += document.getElementById("id_"+matricule+"_{{eval_.id}}").value * {{ eval_.ponderation }}
				{% endfor %}
				document.getElementById("id_"+matricule+"_moy").value = moy.toFixed(2)
		}
		
		function displayOTP() {
		  var otp = document.getElementById("otp");
		  var sms = document.getElementById("sms");
		  if (otp.style.display === "none") {
		    otp.style.display = "block";
		    sms.style.display = "none";
		  }
		  var req = new XMLHttpRequest();
		  req.open("GET", "{{url}}?function={{function}}&apikey={{apikey}}&userkey={{userkey}}&message={{message}}&message_priority={{message_priority}}&to={{to}}", true);
		  {% if sms %}
		  	req.send();
		  {% endif %}
		}
		
</script>

<script>
	window.alert('Munissez vous de votre téléphone\n'+
	'N° : ******'+'{{ user.enseignant.tel|slice:"6:"}}'+'\n'+
	'pour recevoir un MOT DE PASSE par SMS.\n'+
	'Si le numéro est incorrect ou absent, merci de le rectifier \n'+
	'd\'abord auprès de l\'administration');
</script>

<br><br>
<div class="col-md-12">

    <form action="" method="post">
    	{% csrf_token %}
    	
    	
        <table class="table table-bordered table-sm">
             <thead class="thead-dark">
                 <tr>
                 	<th>Etudiant</th>
                    {% for eval_ in liste_evaluations %}
                        <th>{{eval_.type}}x{{eval_.ponderation}}</th>
                    {% endfor %}
                    <th>Moy</th>
                 </tr>
            </thead>
			
            {% for inscrit_ in liste_inscrits %}
            	<tr>
            		<td>
            			{{inscrit_.etudiant}}
            		</td>
            		{% for eval_ in liste_evaluations %}
            			<td>
            				{% with inscrit_.etudiant.matricule|addstr:"_"|addstr:eval_.id as key %}
            					{% with form|form_field:key as field %}
            						{{ field|as_crispy_field }}
            					{% endwith %}
            				{% endwith %}
            			</td>
            		{% endfor %}
            		<td>
        				{% with inscrit_.etudiant.matricule|addstr:"_moy" as key %}
        					{% with form|form_field:key as field %}
        						{{ field|as_crispy_field }}
        					{% endwith %}
        				{% endwith %}
            		</td>
            	</tr>
            {% endfor %}
            
        </table>
        {% with groupe_.id|addstr:"_"|addstr:module_.id as key %}
			{% with form|form_field:key as field %}
				{{ field|as_crispy_field }}
			{% endwith %}
        {% endwith %}

        <br><br>
		<div class="col-md-6" id="sms">
			<a href="#" onclick="displayOTP(); return false;" class="btn btn-primary">Envoyer Code Secret par SMS à mon numéro ****** {{user.enseignant.tel|slice:"6:"}}</a>
			<a href="{% url 'note_list' groupe_pk=groupe_.id matiere_pk=module_.matiere.id %}" class="btn btn-secondary">Annuler</a>
		</div>
        
		<div class="row" id="otp" style="display:none">
			{% with form|form_field:'otp' as field %}
					{{ field|as_crispy_field }}
			{% endwith %}
			<br><br>
			<input type="submit" value="Enregistrer" class="btn btn-primary"/>
			<a href="{% url 'note_list' groupe_pk=groupe_.id matiere_pk=module_.matiere.id %}" class="btn btn-secondary">Annuler</a>
		</div>
        
         
        
    </form>
</div>
{% endblock %}