<img src="{{ institution.header.url }}" alt="- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - " width="100%"> 
{% load django_tables2 crispy_forms_tags bootstrap4 icons dictionary %}
{% block content %}
	<br><br>

	<h3 align="center">Structure du programme de {{ object.code }} :</h3>
		<br><br>
    	<table class="table-sm">
    		<thead>
    			<tr>
	    			<th style="text-align:center;" colspan="3">Semestre</th>
	    			<th style="text-align:center;" colspan="4">UE</th>
	    			<th style="text-align:center;" colspan="4">Matière</th>
	    			
    			</tr>
    			<tr>
    				<th>Code</th>
    				<th>Session</th>
    				<th>Crédits</th>

    				<th>Type</th>
    				<th>Code</th>
    				<th>Coef</th>
    				<th>Crédits</th>

    				<th>Code</th>
    				<th>Intitulé</th>
    				<th>Coef</th>
    				<th>Crédits</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for periode in object.periodes.all %}
    				<tr>
    					<td style="vertical-align:middle; text-align:center;" rowspan="{{periode.nb_matieres}}">
    						<strong>{{ periode.code }}</strong><br>
    					</td>
    					<td style="vertical-align:middle; text-align:center;" rowspan="{{periode.nb_matieres}}">
    						{{ periode.periode.session }}
    					</td>
    					<td style="vertical-align:middle; text-align:center;" rowspan="{{periode.nb_matieres}}">
    						{{ periode.credit }}
    					</td>
						
						{% for ue in periode.ues.all %}
    						<td style="vertical-align:middle; text-align:left;" rowspan="{{ ue.matieres.count }}">
    							{{ categorie_ue|get_value_from_dict:ue.type }}
    						</td>
    						<td style="vertical-align:middle; text-align:center;" rowspan="{{ ue.matieres.count }}">
    							{{ue.code}}<br>
    						</td>
    						<td style="vertical-align:middle; text-align:center;" rowspan="{{ ue.matieres.count }}">{{ue.coef}}</td>
    						<td style="vertical-align:middle; text-align:center;" rowspan="{{ ue.matieres.count }}">{{ue.credit}}</td>

							{% for matiere in ue.matieres.all %}
								<td><a href="#{{matiere.id}}">{{ matiere.code }}</a></td>    							
								<td>{{matiere.titre}}</td>
    							<td>{{matiere.coef}}</td>
    							<td>{{matiere.credit}}</td>
    							</tr><tr>
							{% endfor %}
							
						{% endfor %}
    				</tr>
    			{% endfor %}
    		</tbody>		
  		</table>   
  		<br><br>
{% endblock %}

	
<img src="{{ institution.footer.url }}" alt="- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - " width="100%"> 

